---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "@/layouts/Layout.astro";
import BackToTopButton from "@/components/BackToTopButton.astro";
import Avatar from "@/components/Avatar.astro";
import AvatarAbout from "@/components/AvatarAbout.astro";
import SocialContact from "@/components/SocialContact.astro";
import Divider from "@/components/Divider.astro";
import IconCalendar from "@/assets/IconCalendar.svg";
import { MY_TECHNOLOGIES, MY_SERVICES, MY_PROJECTS, LIST_EXPERIENCES } from "@/constants";
import Tooltip from "@/components/Tooltip.astro";
import Frontend from "@/assets/IconFrontend.svg";
import Backend from "@/assets/IconBackend.svg";
import IconGithubCode from "@/assets/IconGithubCode.svg";
import IconLink from "@/assets/IconLink.svg";
---

<Layout
  title="About Me | Domcoding"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage={AboutHeroImage}
>
  <BackToTopButton />
  <div class="mx-auto my-0 w-full p-4">
    <div class="md:h-screen">
      <div class="summary__about flex justify-center"><Avatar /></div>
      <h5 class="summary__about text-primary-text mt-10 text-2xl">
        Hello, <span class="text-primary">I’m Dom (Nguyen Dai Thang)</span>
      </h5>
      <p class="summary__about">
        I'm a Full-Stack Developer with 2 years of experience in Web Development. I specialize in
        React.js, Next.js, Node.js, enjoy solving UI/UX challenges, and building scalable products.
        I am proactive in learning and applying modern technologies and best practices to become a
        better engineer.
      </p>

      <p class="summary__about">
        I’m highly self-motivated and spend significant time each day learning and experimenting
        with the latest technological advancements to improve my skills and enabling me to deliver
        innovative and dependable solutions.
      </p>
      <div class="summary__about flex items-center gap-[8px]">
        Contact me: <SocialContact />
      </div>
    </div>
    <Divider />

    <!-- Experiences -->

    <div class="grid grid-cols-1 items-center justify-center gap-4 md:h-screen md:grid-cols-2">
      <div class="avatar__experiences flex items-center justify-center"><AvatarAbout /></div>

      <div class="flex flex-col items-center justify-center">
        <div
          class="experience__content flex w-full flex-col items-center justify-center md:items-start"
        >
          <p class="my-0 !text-[15px] md:!text-2xl">
            My <span class="text-primary">Achievements</span>
          </p>
          <p class="text-primary-text mt-4 !text-2xl lg:!text-5xl">Work Experiences</p>
        </div>

        <div class="border-primary border-l-2">
          {
            LIST_EXPERIENCES.map(item => (
              <div class="workeduc-content relative mt-0 mb-[1.2rem] pl-[1.6rem]">
                <p class="text-primary experience__content m-0 flex">
                  <span class="mr-2">
                    <IconCalendar />
                  </span>
                  {item.time}
                </p>
                <h5 class="experience__content">{item.title}</h5>
                <p class="experience__content">{item.content}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <Divider />

    <!-- Technologies -->

    <div
      class="about__technologies flex h-auto flex-col items-center justify-center text-center md:h-screen"
    >
      <h5 class="my-0">My <span class="text-primary">Technologies</span></h5>
      <p class="text-primary-text mt-4 !text-2xl lg:!text-5xl">Technologies I've worked with</p>
      <div class="grid w-full grid-cols-1 gap-4 md:grid-cols-3">
        {
          MY_TECHNOLOGIES.map(item => (
            <div class="col-span-1 h-[15.5rem] border border-solid border-gray-300">
              <div class="bg-grey text-primary text-lg font-bold">{item.title}</div>
              <div class="flex h-[10rem] w-full flex-wrap items-center justify-center gap-2 text-center">
                {item.technologies.map(tech => (
                  <Tooltip content={tech.title}>
                    <div class="h-[50px] w-[50px]">
                      <img src={tech.image} alt={tech.title} class="m-0 h-full w-full rounded-sm" />
                    </div>
                  </Tooltip>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <Divider />

    <!-- Services -->

    <div class="flex flex-col items-center justify-center md:h-screen">
      <h5 class="service__about my-0">My <span class="text-primary">Services</span></h5>
      <p class="text-primary-text service__about mt-4 !text-2xl lg:!text-5xl">What I Do</p>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-[repeat(2,352px)]">
        {
          MY_SERVICES.map((item, index) => (
            <div
              class:list={[
                index > 0 ? "service__about__2" : "service__about__1",
                "service [&.active]:border-primary text-primary-text hover:border-primary flex transform flex-col items-center justify-center rounded-xl border border-3 border-gray-300 bg-gray-300 px-[2rem] py-[3.5rem] text-center dark:border-black dark:bg-black",
              ]}
              style={{
                transform: "matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)",
                transition:
                  "border 0.4s, opacity 2.5s cubic-bezier(0.5, 0, 0, 1) 0.4s, transform 2.5s cubic-bezier(0.5, 0, 0, 1) 0.4s",
              }}
            >
              <div class="text-primary">{item.id === "frontend" ? <Frontend /> : <Backend />}</div>
              <h5 class="mt-4">{item.title}</h5> <p>{item.content}</p>
            </div>
          ))
        }
      </div>
    </div>

    <Divider />

    <!-- Projects -->

    <div class="my-[12rem] flex h-auto flex-col items-center justify-center">
      <h5 class="project__about my-0">My <span class="text-primary">Projects</span></h5>
      <p class="project__about text-primary-text mt-4 !text-2xl lg:!text-5xl">Recent Projects</p>
      <div
        class="grid grid-cols-1 gap-8 md:grid-cols-[repeat(2,352px)] xl:grid-cols-[repeat(3,352px)]"
        data-projects
      >
        {
          MY_PROJECTS.map(item => (
            <div class="project__about content-project group relative overflow-hidden rounded-xl shadow-md">
              <img
                src={item.image}
                alt={item.title}
                class="m-0 h-[37.5rem] w-full rounded-xl group-hover:opacity-10 group-[.active]:opacity-10"
              />
              <div class="project-overlay absolute inset-0 flex translate-y-full flex-col items-center justify-center bg-[linear-gradient(180deg,hsla(0,0%,0%,0)_0%,hsla(var(--hue),79%,45%,0.95)_120%)] p-6 text-white transition-transform duration-500 group-hover:translate-y-0 group-[.active]:translate-y-0">
                <p class="text-primary-text m-0">{item.type}</p>
                <h5 class="text-primary-text">{item.title}</h5>
                <p class="text-primary-text m-0">{item.content}</p>
                <p class="text-primary-text m-0">Technologies: {item.technologies}</p>

                {item.urlDemo && (
                  <div class="hover-effect text-primary-text flex items-center justify-center gap-2">
                    <a href={item.urlDemo || ""} target="blank">
                      Demo
                    </a>
                    <a href={item.urlDemo || ""}>
                      <IconLink />
                    </a>
                  </div>
                )}

                <div class="hover-effect flex items-center justify-center gap-2">
                  <a href={item.urlCode || ""} target="blank">
                    {item.urlCodeBe ? "View code FE" : "View code"}
                  </a>
                  <a href={item.urlCode || ""}>
                    <IconGithubCode />
                  </a>
                </div>

                {item.urlCodeBe && (
                  <div class="hover-effect flex items-center justify-center gap-2 text-white">
                    <a href={item.urlCodeBe || ""} target="blank">
                      View code BE
                    </a>
                    <a href={item.urlCodeBe || ""}>
                      <IconGithubCode />
                    </a>
                  </div>
                )}
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>

<script>
  function createProgressBar() {
    const progressContainer = document.createElement("div");
    progressContainer.className = "progress-container fixed top-0 z-30 h-1 w-full bg-background";

    const progressBar = document.createElement("div");
    progressBar.className =
      "progress-bar h-1 w-0 bg-primary transition-width duration-300 ease-in-out";
    progressBar.id = "myBar";

    progressContainer.appendChild(progressBar);

    document.body.appendChild(progressContainer);
  }
  createProgressBar();

  function updateScrollProgress() {
    document.addEventListener("scroll", () => {
      const winScroll = document.body.scrollTop || document.documentElement.scrollTop;
      const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      const scrolled = (winScroll / height) * 100;
      if (document) {
        const myBar = document.getElementById("myBar");
        if (myBar) {
          myBar.style.width = scrolled + "%";
        }
      }
    });
  }
  updateScrollProgress();

  const styleWorkeducContent = document.querySelectorAll(".workeduc-content");
  styleWorkeducContent.forEach(item => {
    const beforeElement = document.createElement("span");
    beforeElement.className =
      "absolute left-[-0.65rem] top-0 h-[1.2rem] w-[1.2rem] rounded-full bg-primary";
    item.appendChild(beforeElement);
  });

  const links = document.querySelectorAll(".hover-effect a");

  links.forEach(l => {
    l.classList.add("text-primary-text", "p-0", "hover:underline", "hover:underline-offset-4");
  });

  // Write script for projects section
  const projects = document.querySelectorAll(".content-project");
  projects.forEach(project => {
    project.addEventListener("click", e => {
      e.stopPropagation();

      document.querySelectorAll(".content-project").forEach(t => {
        if (t !== project) {
          t.classList.remove("active");
        }
      });

      project?.classList.toggle("active");
    });
  });

  document.addEventListener("click", () => {
    document.querySelectorAll(".content-project").forEach(t => {
      t.classList.remove("active");
    });
  });

  // Write script for services section
  const services = document.querySelectorAll(".service");
  services.forEach(project => {
    project.addEventListener("click", e => {
      e.stopPropagation();

      document.querySelectorAll(".service").forEach(t => {
        if (t !== project) {
          t.classList.remove("active");
        }
      });

      project?.classList.toggle("active");
    });
  });

  document.addEventListener("click", () => {
    document.querySelectorAll(".service").forEach(t => {
      t.classList.remove("active");
    });
  });
</script>

<script src="/src/js/main.js"></script>
